@use 'sass:color';

// Import Fonts
@font-face {
    font-family: young-serif;
    src: url(../public/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../public/Roboto-Regular.ttf);
}

// Colors
$primary-color: #fff;
$secondary-color: #000;
$highlight-color: #A8DADC;
$left-color: #131112;
$right-color: #60656F;

//Fonts
$head-font: young-serif;
$body-font: roboto;

//Styles
h1, h2, h3, h4, h5, h6{
    font-family: $head-font;
    margin: 0px 0px 20px;
}

body{
    background-color: #000;
    color: $primary-color;
    font-family: $body-font;
    font-size: 18px;
    margin: 0px;
}

main{
    height: 100vh;
}

//Resizable Columns
.columns-container{
    height: 100%;    
    .column{        
        .inner{
            padding: 20px 30px;
            height: 94%;
        }
    }    
    .resize-bar{
        background-color: $left-color;
        cursor: ew-resize;
        transition: 0.2s background-color ease-in-out;
        &.hidden{
            background-color: $right-color;
        }
        &:hover{
            transition-delay: 250ms;            
            background-color: $highlight-color;
        }
    }

    &.active{
        cursor: ew-resize;    
        .resize-bar{
            background-color: $highlight-color;
        }
    }
}

// Note Containers
#noteList{
    background-color: $left-color;
}
#notePad{
    background-color: $right-color;
    color: $secondary-color;

    // Quill
    .quill{
        height: 100%;
        .ql-container{
            font-family: $body-font;
            font-size: 18px;
            .ql-editor{
                padding: 0px;
                & > :first-child{
                    font-size: 2em;
                    font-family:$head-font;
                    font-weight: bold;
                }
                &.ql-blank{
                    &::before{
                        font-size: 2em;
                        font-family: $head-font;
                        font-style: normal;
                        left: 0px;
                    }
                }
            }
            // Quill Tooltip Bubble
            .ql-tooltip{
                max-width: 300px;
                padding: 12px;
            }            
        }      
    }    
}